
.spectrum-Menu {
  border: 1px solid red;
  background: white;
}

.spectrum-Menu .container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "icon label       tools"
    "icon description tools";
  padding: 5px;
  border-bottom: 1px solid black;
}

.spectrum-Menu .label {
  grid-area: label;
  align-self: center;
  margin: 0;
  color: #4B4B4B;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spectrum-Menu .description {
  grid-area: description;
  align-self: center;
  color: #707070;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.spectrum-Menu .icon {
  grid-area: icon;
  align-self: center;
  height: 30px;
  width: 30px;
  margin: 10px 10px 10px 5px;
}

.spectrum-Menu .tools {
  grid-area: tools;
  align-self: center;
  margin: 10px 10px 10px 5px;
}


@media only screen and (max-width: 1000px) {
  .spectrum-Menu .container {
    grid-template-areas:
      "icon        label       tools"
      "description description description";
  }
}
